/* navigation */

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

nav {
    height: 50px;
    background-color: #4e4e4e;
}

.container {
    margin: 0 auto;
    width: 94%;
}

.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-logo {
    font-weight: bold;
    width: 30%;
}

.nav-logo a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.menu {
    display: none;
    list-style: none;
    position: absolute;
    width: 40%;
    height: auto;
    background: lightgray;
    top: 50px;
    transition: .5s;
    right: 0;
    text-align: center;
}

.menu a {
    padding: 5px 0;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
}

#toggle {
    display: none;
}

#toggle:checked ~ .menu {
    display: block;
}

label #sign-one,
label #sign-two {
    font-size: 30px;
    float: right;
    display: none;
    color: #ffffff;
}

label #sign-one {
    display: block;
}

#toggle:checked ~ label #sign-one {
    display: none;
}

#toggle:checked ~ label #sign-two {
    display: block;
}

/* landing page */

.landing-page {
    height: calc(100vh - 50px);
    background-image: url(https://images.unsplash.com/photo-1560179707-f14e90ef3623?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80);
    background-position: center;
    background-size: cover;
    font-size: 18px;
}

.landing-page h1 {
    font-size: 30px;
}

.landing-page-shadow {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(20, 13, 13, 0.3);
}

.landing-page-shadow > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: normal;
}

.landing-page-text {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media (min-width: 425px) {
    .landing-page-text {
        width: 80%;
    }
}

.btn-offer {
    padding: 2% 10%;
    border: 3px solid #ffffff;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    text-align-last: center;
}

.btn-offer {
    text-decoration: none;
    text-align: justify;
}

.btn-offer:hover {
    background-color: #ffffff;
    color: #000000;
    transition-duration: 1s;
}

/* staff page */

.about {
    padding: 50px 0;
    background-color: #F1F1F1;
}
  
.about h1 {
    color: #152D41;
    text-align: center;
    margin-bottom: 50px;
}

.about p {
    font-size: 18px;
}

.about-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
  
.about-employee-desc > * {
    margin-bottom: 10px;
}

.about-employee-desc > * :last-child {
    margin-bottom: 0px;
}

.about-employee-pic {
    flex-shrink: 0;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.pic-reverse,
.pic-straight {
    margin: 5%;
}

.pic-reverse {
    background-image: url(https://jupiterx.artbees.net/dijous/wp-content/uploads/sites/91/2018/09/employee-02-500x500.jpg);
}

.pic-straight {
    background-image: url(https://jupiterx.artbees.net/dijous/wp-content/uploads/sites/91/2018/09/employee-04-500x500.jpg);
}

/* offer*/

.offers {
    padding: 50px 0;
    background-color: #405d78;
}

.offers h1 {
    text-align: center;
    margin-bottom: 50px;
}

.offers h2 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: #000000;
    font-weight: normal;
    font-size: 24px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.services-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 5%;
    background-color: #F1F1F1;
    transition-duration: .5s;
}

.services-box-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
  
.services-box-dot {
    position: absolute;
    top: -11px;
    left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #E07A64;
  }
  
/* footer*/

footer {
    height: auto;
    background-color: #4e4e4e;
    font-weight: bold;
    font-size: 18px;

}  

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 80px;
}

.social-links a {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
} 

.social-links i {
    font-size: 30px;
}

 

